 <!--Slider-->
 <div>
     <br>
     <br>
        <font color="Olive" face="Comic Sans MS,arial">
            <h1 align="center"><i>NUESTRO CATALOGO</i></h1>
        
            </font>
            <div class="container">
            <br>
            <br>
            <div class="alert alert-danger" role="alert">
              
              <h4 align="center">                     SOLO HOY!    ENVIO GRATIS EN TUS COMPRAS </h4>
            </div>
            <div class="row blog">
                <div class="col-md-12">
                    <div id="blogCarousel" class="carousel slide" data-ride="carousel">
        
                        <ol class="carousel-indicators">
                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                        </ol>
        
                        <!-- Carousel items -->
                        <div class="carousel-inner">
        
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->
        
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->
        
                        </div>
                        <!--.carousel-inner-->
                    </div>
                    <!--.Carousel-->

        
                </div>
            </div>
            
        </div> 
        <div class="container">
         <!--Jumbotron-->
         <br>
         <div class="jumbotron">
             <h1 class="display-4">BIENVENIDOS</h1>
             <p class="lead">Marcas: Flexi, Capa de Ozono, Carlo Rossetti, Efe, Hispana, Gillio, Brantano, Perugia, Caterpillar, Dockers, Levis, Coqueta y Audaz, Pingo, Sandy, Chabelo, Mickey, Tropicana, Coloso, Charly, Quirelli, Terapie, Hush Puppies, Fabian Arenas, Gino Cherruti, Skechers.
               <br> Contamos tambien con Ropa, y accesorios. Quieres conocer mas? Ingresa aqui</p>
             <hr class="my-4">
             <p></p>
             <a class="btn btn-danger btn-lg" href="#" role="button">MAS</a>
             </div> 
            </div>
 </div>