<form>
<br>
<br>
<br>
<br>
    <div class=" container"> 


        <div class="jumbotron">
            <h1 class="display-4">Registrate y obten.....</h1> <br>
            <p class="lead"> Ofertas, descuentos, cupones y ademas la oportunidad de conocer primero que nadie nuestra mercancia nueva: </p>
            <form class="form-inline my-2 my-lg-0">
                  
                  <p>Escribe tu nombre : </p> <br> 
                  <input class="form-control mr-sm-2" type="search" placeholder="Ingresa tu nombre" aria-label="Search"> 
                  <br> 
                  
                  <p>Ingresa tu correo : </p> <br>
                  <input class="form-control mr-sm-2" type="search" placeholder="example@gmail.com" aria-label="Search">
                  <button type="button" class="btn btn-warning">ENVIAR</button>
                </form>
            
          </div>
    </div>
  </form>
