<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">EL DIAMANTE Zapaterias</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/inicio" >INICIO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="#" routerLink="/contacto">SUSCRIBETE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/damas" >DAMAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/caballeros">CABALLEROS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/products">PRODUCTOS</a>
          </li>
      </ul>     
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button type="button" class="btn btn-warning">BUSCAR</button>
      </form>
    </div>
  </nav>

  
  <router-outlet> </router-outlet>
<br> 
<br>
<br> 
<footer class="br">
<div class="container Final">
<div class="col">
  <div class="row">
  
  </div>
  <div class="col-12 text-center">
    <H1>EL DIAMANTE</H1>
    <ul class=" list-unstyled quick-links">
      <li> HOME</li>
      <li> ABOUT</li>
      <li> FAQ</li>
    </ul>
  
  </div>
</div>
</div>
</footer>