<div>
        <BR>
            <BR>
                <BR>
<div class=" container"> 
    <div class="alert alert-danger" role="alert">
          
      <h4 align="center">                   PARA LAS DAMAS ESTAS SON NUETRAS OFERTAS DE TEMPORADA </h4>
    </div>
  </div>
    
      <div class=" container"> 
        <!--Columnas-->
        <div class="row">
            <div class="col-md-4">
                  <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"><br>
            </div>
            
            <div class="col-md-4">
                  <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
           </div>
           <br>

            <div class="col-md-4">
                  <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
            </div>
            <br> 
            </div> 
            <br> 
            <div class="row">
            <div class="col-md-4">
                  <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
            </div>
            <br>
            <div class="col-md-4">
                  <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
            </div>
            <br>
            <div class="col-md-4">
                  <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
            </div>
          </div>
            <br>
            <div class="row">
            <div class="col-md-4">
                  <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
            </div>
            <br>
            <div class="col-md-4">
                  <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"> 
            </div>
            <br>
            <div class="col-md-4">
                  <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
            </div>
            <br> 
            </div>
          </div>
        </div>